body {
  margin: 0rem;
  padding: 0rem;
  background-color: black;
}
html{
	font-size: 10px;
}
.Join{
	position: relative;
	padding:1rem 2rem;
	border-radius: 1rem;
	background-color:white;
	left: -4px;
	outline: none;
	font-size: medium;
	margin-bottom: 1rem;
	border: none;
	transition: background-color,border-radius,border 0.75s ease-in-out;
	transition: color 0.30s ease-in-out;
}
.Join:hover{
	background-color:red;
	color:white;
	border: 1px solid black;
	border-radius: 2rem;
	cursor: pointer;
}
.Review{
	position: relative;
	padding:1rem 2rem;
	right: -142px;
	border-radius: 1rem;
	background-color:white;
	outline: none;
	font-size: medium;
	margin-bottom: 1rem;
	border: none;
	transition: background-color,border-radius,border 0.75s ease-in-out;
	transition: color 0.30s ease-in-out;
}
.Review:hover{
	background-color:red;
	color:white;
	border: 1px solid black;
	border-radius: 2rem;
	cursor: pointer;
}
.QRCodeGen{
	position: relative;
	padding:1rem 2rem;
	right: -155px;
	border-radius: 1rem;
	background-color:white;
	outline: none;
	font-size: medium;
	margin-bottom: 1rem;
	border: none;
	transition: background-color,border-radius,border 0.75s ease-in-out;
	transition: color 0.30s ease-in-out;
}
.QRCodeGen:hover{
	background-color:red;
	color:white;
	border: 1px solid black;
	border-radius: 2rem;
	cursor: pointer;
}
img{
	position: relative;
	right: -5px;
	left: 10px;
}
.TeamSeasPNG{
	width: 150px;
	top: 20px;
	left: 170px;

}
img:hover{
	cursor: no-drop;
}
.redirect1{
	position: absolute;
	padding: 10rem 10rem;
	box-sizing: border-box;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 70rem;
	height: 60rem;
	background-color: black;
}
